@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body,
html {
    margin: 0;
    padding: 0;  
    overflow: auto;
    font-family: 'Raleway', sans-serif !important;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #1A1A1A;
}
.getqu{
    height: auto;
    overflow: hidden;
}


/**************** navbar *********************/
.nav {
    height: 150px;
    width: 100%;
    display: flex;
    z-index: 9;
    cursor: pointer;

}

.nav>.nav-header {
    width: 25%;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    width: 75%;
    display: inline;
    font-size: 25px;
    display: flex;
    align-items: center;
    /* animation: display-buttons2 2s linear forwards; */
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 30px 13px 30px;
    text-decoration: none;
    color: #efefef;
    border: 1px solid #F85C3D;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.nav>.nav-links>a:hover {
    background-color: #fff !important;
    color: #F85C3D !important;
}

.nav>#nav-check {
    display: none;
}

@media (max-width:1400px) {
    .nav>.nav-links {
        font-size: 23px;
    }

    .nav>.nav-links>a {
        display: inline-block;
        padding: 13px 20px;
    }
}

@media (max-width:1200px) {
    .nav>.nav-links {
        font-size: 20px;
    }

    .nav>.nav-links>a {
        display: inline-block;
        padding: 13px 20px;
    }

    .nav>.nav-header img {
        transform: scale(.85);
        margin-left: -10px;
    }
}

@media (max-width:1100px) {
    .nav>.nav-links {
        font-size: 17px;
    }

    .nav>.nav-links>a {
        display: inline-block;
        padding: 13px;
    }

    .nav>.nav-header img {
        transform: scale(.80);
        margin-left: -10px;
    }
}

@media (max-width:900px) {
    .nav {
        height: 100px;
        width: 100%;
        display: flex;
    }

    .nav>.nav-header {
        padding: 20px;
    }

    .nav>.nav-header img {
        transform: scale(.7);
        margin-top: 40px;
    }

    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 35px;
    }

    .nav>.nav-btn img {
        transform: scale(.8) !important;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    /* .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    } */
    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #1A1A1A;
        /* border-top: 1px solid #F85C3D; */
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 100px;
        left: 0px;
        z-index: 99999999;
    }

    .nav>.nav-links>a {
        display: block;
        width: 50%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        border: 0;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .about .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 35px;
    }
}

/* end nav bar */
.guo-main-content .hh{
    padding-left:80px;
    font-size: 60px;
    font-weight: 600;
    color: #F85C3D;
    margin: 0;
    margin-bottom: 20px;
}

form {
    width:85%;
    margin: auto;
    height: auto;
    background-color: #000;
    padding:0 30px;
    padding-bottom:0px;
    border-radius: 12px;
    margin-bottom: 30px;
}

input.hidden {
    position: absolute;
    visibility: hidden;
}

input[type="radio"]+.show-when-checked {
    display: none;
}

input[type="radio"]:checked+.show-when-checked {
    display: block;
}

fieldset>.enable-when-valid {
    background-color: gray;
}

fieldset:valid>.enable-when-valid {
    background-color: white;
}

/* ************ */
.tab {
    background-color: #000;
    margin-bottom: 40px;
}
.show-when-checked {
    width: 98%;
    border: none;
}

.form--header-container {
    text-align: center;
    padding-top: 30px;
    color: #fff;
}

.form--header-title {
    font-size: 60px;
    font-weight: bolder;
    margin: 0;
}

.form--header-text {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.inputs {
    position: relative;
    display: flex;
}

.input-container {
    position: relative;
    width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 20px;
}

.input-1,
.input-2,
.input-3,
.input-4 {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
}
.input-11 input{
    max-width: 100% !important;
    overflow: hidden;
 }
 .iti--separate-dial-code .iti__selected-dial-code {
     margin-left: 5px;
     color: #F85C3D;
 }
 .input-12 input{
    width: 90.5%;
 }
.input-4 {
    width: 100%;
}

.did-floating-label-content {
    position: relative;
    margin-bottom: 20px;
}

.did-floating-label {
    font-size: 17px;
    font-weight: 500;
    color: #F85C3D;
    padding: 10px;
    text-align: start;
}

.did-floating-input {
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    border: 2px solid #fff;
    padding-left: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.did-floating-input:focus {
    background-color: #fff;
    border: 3px solid #F85C3D !important;
    outline: none;
    font-size: 17px;
    color: #000;
    /* border:none!important; */
}

.zz {
    visibility: hidden;
}


/* select */
select {
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: inherit;
    box-shadow: none;
    background: #000;
}

select::-ms-expand {
    display: none;
}

/** Custom Select **/
.center {
    position: relative;
    width: 100%;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    box-sizing: border-box;

}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    width: 100%;
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    cursor: pointer;
    overflow: hidden;
    text-align: start;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 5px solid #F85C3D;
    border-right: 5px solid #F85C3D;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    /* min-width: 100%; */
    margin: 15px 0;
    border: 1px solid #F85C3D;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    width: 100%;
    background-color: #fff;
    color: #F85C3D !important;
    padding-bottom: 15px;
    z-index: 999;
    height: 250px;
    padding: 0 10px;
    overflow: auto;
}
.active {
    background-color: #fff !important;
    color: #F85C3D !important;
    border: 2px solid #F85C3D !important;
}
.custom-select.opened .custom-options span:hover {
    background-color: #F85C3D;
    color: #fff;
}

/* .custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    right: 25px;
    width: 7px;
    height: 7px;
    margin-bottom: -4px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    background: #fff;
    transform: rotate(45deg);
    transition: all .4s ease-in-out;
} */

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px;
    font-size: 18px;
    font-weight: 600;
    color: #F85C3D;
    line-height: 47px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    border: 1px solid #F85C3D;
    border-radius: 20px;
}

/* input-4 */
.inputs-4 label {
    text-align: start;
}

.show-when-checked {
    text-align: center;
}

.contain-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 20%;
    left: 47.5%;
    height: auto;
}

.enable-when-valid {
    height: auto;
    text-align: center;
}

.play-button-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 15px;
    background-color: #F85C3D;
    transition: .7s all ease;
}

.play-icon {
    font-size: 40px;
    margin-left: 8px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-icon img {
    width: 40px;
    height: 40px;
}

.content {
    display: none;
    font-size: 12px;

}

.play-button:hover {
    width: 160px !important;
    height: 50px;
    border-radius: 40px;
    padding: 15px;
}


.play-button:hover .content {
    display: inline-block;
    padding: 0;
    font-size: 22px;
    font-weight: 500;
    animation-name: example;
    animation-duration: .7s;
}

@keyframes example {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}





/* fieldset2 */
.contain-btns2 {
    background-color: red;
}

.text-inputs {
    padding-top: 30px;
    text-align: start;
    width: 90%;
    margin: auto;
}

.text-inputs p {
    color: #Fff;
    font-size: 23px;
    font-weight: 500;
    padding-left: 12px;
}

.text-inputs textarea {
    width: 99.5%;
    height: 150px;
    border-radius: 12px;
    padding: 20px;
    font-size: 16px;
    border: 2px solid #fff;
    background-color: transparent;
    margin-bottom: 20px;
    color: #Fff;
}

.text-inputs textarea:focus {
    background-color: #fff;
    outline: none;
    border: 3px solid #F85C3D;
    color: #000;
}

.social-tabs {
    color: #F85C3D;
}


/* .social-tabs{
    background-color:#fff;
} */
.flex-container1,
.flex-container2,
.flex-container3,
.flex-container4 {
    position: relative;
    width: 50%;
    display: flex;
    gap: 20px;
    padding: 10px 0;
    justify-content: space-between;
    box-sizing: border-box;
}

.flex-container4 {
    width: 90%;
}


.flex-container1 label,.flex-container2 label,.flex-container3 label,.flex-container4 label {
    width: 33.333%;  
    border-radius: 20px;
    background-color: transparent;
    color: #fff !important; 
    font-size: 17px;
    text-align: center;
}
.flex-container2 label,.flex-container3 label {
    margin-top: -20px;
}
.flex-container1 input:focus{
    outline: none;
    background-color: #F85C3D;
}

/* .flex-container1 input:hover,
.flex-container2 button:hover,
.flex-container3 button:hover,
.flex-container4 button:hover {
    background-color: #F85C3D;

}

.flex-container2 button {
    width: 25%;
    padding: 15px 0;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #Fff;
    font-size: 17px;
} */

/* .flex-container3 button {
    width: 25%;
    padding: 15px 0;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #Fff;
    font-size: 17px;
} */

/* .flex-container4 label {
    width: 25%;
    padding: 15px 0;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #Fff;
    font-size: 17px;
} */

.check-boxs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
}

.social-button {
    cursor: pointer;
    padding: 15px 0;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    border: 1px solid #fff;
    text-align: center;
}

.social-button:hover {
    background-color:#F85C3D;
}
input[type="checkbox"]{
    visibility: hidden;
}
/* Style for the active button */
input[type="checkbox"]:checked+.social-button {
    background-color: #F85C3D;
    color: #fff;
   
}
.flex-container4 input[type="radio"]{
    visibility: hidden;
}
.flex-container4 input[type="radio"]:checked+.social-button {
    background-color: #F85C3D;
    color: #fff;
   
}
/* The container */
.flex-container {
    width: 28%;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

/* Hide the browser's default radio button */
.flex-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.flex-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.flex-container input:checked~.checkmark {
    background-color: #fff;
    border: 2px solid #F85C3D;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.flex-container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.flex-container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #F85C3D;
}


.date {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 0;
}

.date input {
    width: 30%;
    height: 50px;
    margin: 10px 15px;
    border-radius: 20px;
    border: none;
    padding: 0 15px;
    font-size: 17px;
}

.date span {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
}

.tog {
    width: 50%;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.tog label {
    width: 25%;
    height: 60px;
    line-height: 2.7;
    background-color: #F85C3D;
    border: none;
    border-radius:50px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
}



.show-when-checked2 .contain-btn {
    width: 50%;
    left: 25%;
    justify-content: space-between;
}

.show-when-checked2 .contain-btn .tog {
    width: 100% !important;
}

.show-when-checked2 .contain-btn .tog label {
    width: 48%;
    height: 60px;
    line-height: 2.7;
    background-color: #F85C3D;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
}

.show-when-checked2 .contain-btn .tog label:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.listening {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    padding-top: 30px;
}

.F-P {
    width: 35%;
    margin-right: 30PX;
    font-size: 30PX;
    font-weight: 600;
    padding-left: 5%;
}

.L-P {
    width: 60%;
    font-size: 17PX;
    padding-top: 20PX;
    text-align: start;
}

.bo-bt {
    border-bottom: 1px solid #000;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
    padding-bottom: 20px;
    /* margin:10px 10% 20px 0 ; */
}

.listening-tabs {
    width: 80%;
    margin-left: 8%;
}

/* .listening-tabs .btn2{
    width: 90%;
} */


.listening-tabs .btn1 label,
.listening-tabs .btn2 label,
.listening-tabs .btn3 label,
.listening-tabs .btn4 label,
.listening-tabs .btn5 label,
.listening-tabs .btn6 label,
.listening-tabs .btn7 label{
    width: 50%;
    margin-top: -10px;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
}
/* .listening-tabs .btn1 button:hover,
.listening-tabs .btn2 button:hover,
.listening-tabs .btn3 input:hover,
.listening-tabs .btn4 button:hover,
.listening-tabs .btn5 button:hover,
.listening-tabs .btn6 button:hover,
.listening-tabs .btn7 button:hover {
    background-color: #F85C3D !important;
} */

.listening-tabs .btn3 label {
    width: 33.3333% !important;
    padding: 0 15px;
}

.listening-tabs .btn7 label{
    width: 100%;
}
.listening-tabs .btn7 label .social-button{
    width: 95%;
}

.bo-bt {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
    text-align: start;
}

.tog2 label {
    width: 45%;
}



@media(max-width:1450px) {
    .text-inputs textarea {
        width: 97% !important;
    }

    .flex-container1,
    .flex-container2,
    .flex-container3,
    .flex-container4 {
        position: relative;
        width: 75% !important;
    }

    .flex-container4 {
        position: relative;
        width: 90% !important;
    }

    .date {
        width: 95% !important;
    }
}

@media(max-width:1200px) {
    .did-floating-label {
        font-size: 15px;
    }

    .form--header-title {
        font-size: 55px;
    }

    .form--header-text {
        font-size: 20px;
        font-weight: 400;
    }

    .text-inputs p {
        color: #Fff;
        font-size: 20px;
        font-weight: 500;
        padding-left: 12px;
    }

    .flex-container {
        width: 43%;
    }

    .text-inputs textarea {
        width: 92% !important;
    }

    .flex-container1,
    .flex-container2,
    .flex-container3,
    .flex-container4 {
        position: relative;
        width: 75% !important;
    }

    .flex-container4 {
        position: relative;
        width: 90% !important;
    }

    .date {
        width: 95% !important;
    }

}

@media(max-width:990px) {

    .tab {
        width: 98%;
    }

    .form--header-title {
        font-size: 50px;

    }

    .form--header-text {
        font-size: 20px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .input-1,
    .input-2,
    .input-3,
    .input-4 {
        width: 48%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px !important;
    }

    .input-4 {
        width: 100%;
    }

    .form--header-title {
        font-size: 50px;
    }

    .form--header-text {
        font-size: 18px;
        font-weight: 400;
    }

    .text-inputs p {
        color: #Fff;
        font-size: 16px;
        font-weight: 500;
        padding-left: 12px;
    }

    .flex-container {
        width: 40%;
    }

    .text-inputs textarea {
        width: 94% !important;
    }

    .date input {
        width: 25%;
    }

    .flex-container1,
    .flex-container2,
    .flex-container3,
    .flex-container4 {
        position: relative;
        width: 92% !important;
    }
}

@media(max-width:767px) {

    .vv .tab {
        width: 95%;
    }


    .form--header-title {
        font-size: 35px;

    }

    .form--header-text {
        font-size: 15px;
    }

    .flex {
        flex-wrap: wrap;
    }

    .input-1,
    .input-2,
    .input-3,
    .input-4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px !important;
    }

    .input-4 {
        width: 100%;
    }

    .filed2 {
        width: 76%;
    }

    .text-inputs p {
        color: #Fff;
        font-size: 14px;
        font-weight: 400;
        padding-left: 0px;
    }

    .text-inputs textarea {
        width: 87% !important;
    }

    .flex-container1 button,
    .flex-container2 button,
    .flex-container3 button,
    .flex-container4 button {
        font-size: 12px;
        padding: 10px 0;
    }

    .container1,
    .flex-container2,
    .flex-container3,
    .flex-container4 {
        position: relative;
        width: 100% !important;
    }

    .flex-container {
        width: 80%;
        font-size: 14px;
    }
}

